@use "../abstract" as *;

/*----------------------------------------*/
/*  08. APPOINTMENT CSS START
/*----------------------------------------*/
.appointment__area{
    & .appointment__area-inner{
        margin-top: -145px;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 49, 43, 0.05);
        -moz-box-shadow: 0px 10px 30px 0px rgba(0, 49, 43, 0.05);
        box-shadow: 0px 10px 30px 0px rgba(0, 49, 43, 0.05);
        & .appointment__form-wrapper{
            & h1{
                background-color: #056c5f;
                font-size: 50px;
                padding: 40px 55px;
                padding-bottom: 55px;
                color: #ffffff;
                margin-bottom: 0;
            }
            & .appointment__form-inner{
                padding: 50px 38px;
                background-color: #f8a683;
                & form{
                    & input{
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        background-color: #f9b89c;
                        padding: 0 20px;
                        border: none;
                        margin-bottom: 20px;
                        color: #ffffff;
                        font-size: 15px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        &::placeholder {
                            color: #ffffff;
                            font-size: 15px;
                            text-transform: capitalize;
                        }
                    }
                    & textarea{
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        background-color: #f9b89c;
                        padding: 0 20px;
                        border: none;
                        margin-bottom: 20px;
                        color: #ffffff;
                        font-size: 15px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        &::placeholder {
                            color: #ffffff;
                            font-size: 15px;
                            text-transform: capitalize;
                        }
                    }
                    & .sub-btn{
                        width: 100%;
                        height: 70px;
                        font-size: 13px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #ffffff;
                        text-align: center;
                        background-color: #056c5f;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        &:hover {
                            background-color: #005046;
                            color: #ffffff;
                          }
                    }
                }
            }
        }
        & .appointment__counter{
            padding: 70px 40px;
            padding-bottom: 50px;
            & .appointment__counter-item{
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 1px;
                    background: #dfe3e2;
                }
                &::after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 1px;
                    height: 100%;
                    background: #dfe3e2;
                }  
                & .single-counter{
                    & h3{
                        font-size: 60px;
                        line-height: 1;
                        font-family: inherit;
                        font-weight: 400;
                        margin-bottom: 0;
                        margin-bottom: 15px;
                    }
                    & span{

                    }
                }
            }
        }
    }
}


.appointment__counter .single-counter h3.pink-color {
    color: #f8a683;
  }
  .appointment__counter .single-counter h3 span {
    font-size: 60px;
  }
  .appointment__counter .single-counter span {
    font-size: 27px;
  }
