$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #0b3d2c,
		text: #777777,
		border: #0b3d2c,
		placeholder: #777777,
	),
	theme: (
		1: #0b3d2c,
		2: #2a7d2e,
		3: #f8f5f0,
	),
	bg: (
		gray: #f3f4f6,
		black: #000,
		footer: #f6f6f6,
	),
);
// Solid Colors ---------------
$white: #ffffff;
$black: #333333;

// Grey Colors ---------------
$grey:#f6f6f6;
$hr-border-color:#eceff8;

// Footer Colors ---------------
$footer-bg: #222222;
$footer-color:#949494;
$footer-social-bg:#353333;
$copyright-bg:#2e2e2e;

// Black Soft-----------
$black-soft:#878787;
$black-soft-light:#444444;


// basic color
$r-pink: #000;

$theme-color:#f8a683; 

// Text Colors ---------------
$body-text: #666;


$news-bg:#2a2d30;
$news_2-bg:#25282b;


// Border Colors ---------------
$border:#000;

// Heading Colors ---------------
$heading-color: #222;

// Contact-bg-----------------
$contact-bg:#f26957;